header {
    background: #bbb;
    padding: 20px 0;
}

.caixa {
    width: 80%;
    min-width: 640px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul li {
    display: inline;
    margin: 0 0 0 15px;
}

nav ul li a {
    color: #14389c;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}